/* .person {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #4285f4;
    transition: transform 0.5s ease-in-out;
  }

  .arm {
    position: absolute;
    width: 2px;
    height: 5px;
    background-color: #4285f4;
    transition: transform 0.5s ease-in-out;
  } */