.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 50%;
}

.arm {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(165, 109, 83);
    z-index: 20;
    border-radius: 20%;  
    top: 180px;

}

.front {
    background-color: rgb(165, 109, 83);
    transform: rotate(-50deg);
    left: 100px;

}
.behind {
    background-color: rgb(165, 109, 83);
    transform: rotate(50deg);
    right: 100px;
}


.chest {
    width: 120px;
    height: 150px;
    background-color: rgb(227, 189, 138);
    border-radius: 20%;
    z-index: 5;
    transform: translateY(30px);
}
.head {
    width: 150px;
    height: 150px;
    background-color: rgb(131, 115, 92);
    border-radius: 20%;  
    transform: translateY(100px);

}


.neck {
    left: 25px;
    width: 25px;
    height: 30px;
    background-color: rgb(62, 40, 184);
}

/* .short {
    top: 100px;
    width: 100px;
    height: 50px;
    background-color: rgb(79, 90, 100);
    border-radius: 20%;
} */

.leg-front{
    position: relative;
    bottom: 0px;
    width: 25px;
    right: 40px;
    height: 100px;
    background-color: rgb(165, 109, 83);
    border-radius: 40%;

}


.leg-behind{
    position: absolute;
    left: 100px;
    bottom: 0px;
    width: 25px;
    height: 100px;
    background-color: rgb(165, 109, 83);
    border-radius: 40%;
}
